<!DOCTYPE html>
<html ng-app="logo">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css"/>
		<script src="bower_components/jsurl/lib/jsurl.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
		<script src="bower_components/ngUrlBind/dist/ngUrlBind.js"></script>
		<script>
			app = angular.module('logo', ['colorpicker.module', 'ngUrlBind'])

			app.controller("mainCtrl", function($scope, ngUrlBind){
				$scope.c = {
					params: {
						scaleMid: 0.4,
						scaleSmall: 0.3,
						colorDark: "#cfa115",
						colorLight: "#fad252",
						colorMed: "#e8be1f"
					}
				};

				ngUrlBind($scope, 'c')
			})
		</script>
	</head>

	<body ng-controller="mainCtrl">
		<h1>Advanced ngUrlBind example</h1>
		<div>
			<p>This example uses the SVG techniques discussed in this <a href="http://alexandros.resin.io/angular-d3-svg/">blog post</a>. Edit the controls below and observe the URL. Refresh the page or load the URL in another browser window to see the state retained. View source to see how it works. If you make a nice design, we'd love to see the URL for it at hello@resin.io :)</p>
		</div>

		<svg height="450" width="390" style="display: block; margin: auto;">
			<g transform="scale(0.6)">
				<g>
					<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
					<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
					<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
				</g>
				<g ng-attr-transform="translate(350, 350) scale({{c.params.scaleMid}}) rotate(180) translate(-350, -350)">
					<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
					<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
					<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
				</g>
				<g ng-attr-transform="translate(350, 350) scale({{c.params.scaleSmall}}) translate(-350, -350)">
					<polygon points="350,0 47,175 350,350 652,175" ng-attr-fill="{{c.params.colorDark}}" />
					<polygon points="47,175 47,525 350,700 350,350" ng-attr-fill="{{c.params.colorLight}}" />
					<polygon points="350,700 652,525 652,175 350,350" ng-attr-fill="{{c.params.colorMed}}" />
				</g>
			</g>
		</svg>
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<button
						id="light_picker"
						colorpicker="rgb"
						type="button"
						colorpicker-position="top"
						class="btn form-control"
						ng-attr-style="background-color: {{c.params.colorLight}}"
						ng-model="c.params.colorLight"
						>
					Light
				</button>
			</div>
			<div class="form-group">
				<button
						id="medium_picker"
						colorpicker="rgb"
						type="button"
						colorpicker-position="top"
						class="btn form-control"
						ng-attr-style="background-color: {{c.params.colorMed}}"
						ng-model="c.params.colorMed"
						>
					Medium
				</button>
			</div>
			<div class="form-group">
				<button
						id="dark_picker"
						colorpicker="rgb"
						type="button"
						colorpicker-position="top"
						class="btn form-control"
						ng-attr-style="background-color: {{c.params.colorDark}}"
						ng-model="c.params.colorDark"
						>
					Dark
				</button>
			</div>
			<div class="form-group">
				<input
						id="mid_scale"
						type="range"
						min={{c.params.scaleSmall}}
						max=1
						step=0.01
						ng-model="c.params.scaleMid"
						class="form-control"
						/>
			</div>
			<div class="form-group">
				<input
						id="small_scale"
						type="range"
						min=0
						max={{c.params.scaleMid}}
						step=0.01
						ng-model="c.params.scaleSmall"
						class="form-control"
						/>
			</div>
		</form>
	</body>
</html>
